.message-list {
    display: flex;
    flex-direction: column;
    gap: 1rem !important;
    background-color: #eecdb0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 1rem;
    border: 1px solid black;
}

.message-divider  {
    display: flex;
    align-items: center;
    text-align: center;
    color: #262626;
}

.message-divider::before,
.message-divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #262626;
}

.message-divider:not(:empty)::before {
    margin-right: .25em;
}

.message-divider:not(:empty)::after {
    margin-left: .25em;
}
