.message-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.message-input-text:focus {
    box-shadow: none;
    border-color: orange;
}

.message-input-button {
    width: 8rem;
    background-color: orange;
    border-color: orange;
    margin-left: 2rem;
}

.message-input-button:hover {
    background-color: darkorange;
    border-color: darkorange;
}

.message-input-button:focus {
    background-color: orange;
    border-color: orange;
    box-shadow: none;
}