@keyframes ldio-hbdm1jns1kt {
    0% {
        top: 96px;
        left: 96px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 48px;
        left: 48px;
        width: 96px;
        height: 96px;
        opacity: 0;
    }
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle-2 div {
    position: absolute;
    border-width: 4px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-hbdm1jns1kt 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.circle-2 div:nth-child(1) {
    border-color: orange;
    animation-delay: 0s;
}

.circle-2 div:nth-child(2) {
    border-color: darkorange;
    animation-delay: -0.5s;
}

.circle-1 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #fff;
}

.circle-2 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.circle-2 div {
    box-sizing: content-box;
}
